<style>
    .login {
        margin-left: auto;
    }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-full">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
            <div class="login">
                <% if (session.user) { %>
                    <span class="mr-10">Wecome,<%= session.user.fullname %></span>
                    <a type="button" class="btn btn-primary" href="/auth/logout">Logout</a>
                    <% } else { %>
                        <a type="button" class="btn btn-primary" href="/auth/login">Login</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>